Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96

! URxvt

! General settings
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False

!annoying yellow box

URxvt.iso14755 : false

! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True


! Keybindings
!URxvt.keysym.Shift-Control-V: perl:clipboard:copy
!URxvt.keysym.Shift-Control-C: perl:clipboard:paste

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard



URxvt*buffered: false
URxvt.font:xft:DejaVu Sans Mono-10
URxvt.boldFont:xft:DejaVu Sans Mono-10
URxvt.letterSpace: 0

urxvt*depth: 32
! special

! Colors definition {{{
#define   plain            #f8f6f2
#define   snow             #ffffff
#define   coal             #000000

#define   brightgravel     #d9cec3
#define   lightgravel      #998f84
#define   gravel           #857f78
#define   mediumgravel     #666462
#define   deepgravel       #45413b
#define   deepergravel     #35322d
#define   darkgravel       #242321
#define   blackgravel      #1c1b1a
#define   blackestgravel   #141413

#define   dalespale        #fade3e
#define   dirtyblonde      #f4cf86
#define   taffy            #ff1d00
#define   saltwatertaffy   #8cffba
#define   tardis           #0a9dff
#define   orange           #ffa724
#define   lime             #aeee00
#define   dress            #ff9eb8
#define   toffee           #b88853
#define   coffee           #c7915b
#define   darkroast        #88633f
! }}}


! Resourses {{{
*background:  blackestgravel
*foreground:  plain
*cursorColor: lime
*scrollColor: deepgravel
*fadeColor:   snow
*fading:      20

!        black
*color0:      blackestgravel
*color8:      coal
!        red
*color1:      taffy
*color9:      taffy
!        green
*color2:      lime
*color10:     lime
!        yellow
*color3:      dalespale
*color11:     orange
!        blue
*color4:      tardis
*color12:     tardis
!        magenta
*color5:      dress
*color13:     dress
!        cyan
*color6:      saltwatertaffy
*color14:     saltwatertaffy
!        white
*color7:      brightgravel
*color15:     snow
! }}}
