Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 170

! URxvt

! General settings
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False

!annoying yellow box

URxvt.iso14755 : false

! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True


! Keybindings
!URxvt.keysym.Shift-Control-V: perl:clipboard:copy
!URxvt.keysym.Shift-Control-C: perl:clipboard:paste

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard



URxvt*buffered: false
URxvt.font:xft:hack-11
URxvt.boldFont:xft:hack-11
URxvt.letterSpace: 0

urxvt*depth: 32
! special

! special
*.foreground:   #58d982
*.background:   [80]#000000
*.cursorColor:  #58d982

! black
*.color0:       #000000
*.color8:       #686868

! red
*.color1:       #c91b00
*.color9:       #ff6e67

! green
*.color2:       #00c200
*.color10:      #5ffa68

! yellow
*.color3:       #c7c400
*.color11:      #fffc67

! blue
*.color4:       #027fc7
*.color12:      #6871ff

! magenta
*.color5:       #ca30c7
*.color13:      #ff77ff

! cyan
*.color6:       #00c5c7
*.color14:      #60fdff

! white
*.color7:       #c7c7c7
*.color15:      #ffffff


rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #58d982, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency:	false
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width: 30
rofi.font: Hack 40
